@use './loader-animation.scss';
@use './toaster-progess-bar.scss';
@use './modal-animation.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #171717;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

html.dark body {
    color: #ededed;
    background: #1a202c;
}

ol[data-sonner-toaster] li[data-sonner-toast] > button[data-close-button="true"] {
    position: absolute;
    right: -0.8rem;
    top: 0;
    left: auto;
}

.leaflet-tile {
    background-color: #f0f0f0;
}

.toast-delete-point [data-close-button="true"] {
    background-color: #f5f5f5 !important;
}